.perfil_usuario {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 0;
    background-color: #f8f8f8;
    margin-top: 20px;
    border-radius: 10px;
    width: 250px;
}

.saudacao_usuario {
    padding: 20px 0px;
    /* background-color: yellowgreen; */
}

.menu_conta {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.menu_conta span {
    font-size: 0.9em;
    margin-right: 15px;
}

.menu_conta_usuario {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 0px;
    padding: 5px 10px;
    transition: height 300ms ease;
}

.menu_conta_usuario:not(.menu_clicado){
    padding: 0;
}

.menu_clicado {
    height: 207px;
}

.perfil_usuario #seta_menu {
    position: absolute;
    top: 4px;
    right: 90px;
}

.menu_conta_usuario li {
    list-style: none;
    font-weight: 600;
    margin: 5px 0px;
    color: #364B46;
}

.menu_conta_usuario li:nth-child(5) {
    margin-top: 15px;
    /* background-color: yellowgreen; */
}

.menu_conta_usuario li:last-child {
    border: none;
}


.perfil_usuario hr {
    opacity: 0.3;
}

#entrar_usuario {
    box-sizing: border-box;
    display: inline-block;
    background-color: #252525;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    border-radius: 100px;
    text-decoration: none;
}

.menu_conta_usuario #registro_usuario {
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    width: 100%;
    text-align: center;
    color: #364B46;
    margin-bottom: 15px;
}