:root {
    --color-primary: #1ED6B5;
    --color-secondary: rgba(255, 255, 255, 0.539);
    --text-color: rgb(20, 20, 20);
    --color-back: rgb(230, 252, 248);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter Tight', sans-serif;
    box-sizing: border-box;
    height: 100vh;
    background: rgb(230, 252, 248);
    background: radial-gradient(circle, rgba(230, 252, 248, 1) 0%, rgba(238, 245, 244, 1) 100%);
}

#background-colorido {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

/* Container's */

.ctn-landing-page {
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.header-main {
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    height: 80px;
}

.nav-menu {
    height: 100%;
}

.ctn-main {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
}

/* Navegação do lado esquerdo da tela */

#nav-menu-left {
    display: flex;
    align-items: center;
}

.logo-empresa {
    display: flex;
    align-items: center;
}

#name-company {
    margin-left: 20px;
}

.list-nav-left {
    display: flex;
    align-items: center;
    list-style: none;

}

.list-nav-left li {
    margin: 0px 40px;
}

.list-nav-left li a {
    text-decoration: none;
    color: #323940;
}

/* Navegação do lado direito da tela */

#nav-menu-right {
    position: relative;
}

.list-nav-description {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    user-select: none;
    cursor: pointer;
}

.list-nav-description li:nth-child(1) {
    font-size: 0.9em;
}

.list-nav-description li:nth-child(2) {
    margin-left: 10px;
}

.user-profile-description {
    height: 100%;
}

.user-profile-panel {
    z-index: 9999;
    position: absolute;
    overflow: hidden;
    right: 0;
    background-color: rgba(255, 255, 255, 0.539);
    backdrop-filter: blur(10px);
    height: 0px;
    border-radius: 10px;
    transition: height 300ms ease-in;
}

.user-profile-list {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 295px;
    height: 255px;
    list-style: none;
    transition: height 300ms ease-in;
}

.user-profile-list li {
    display: flex;
    padding: 8px 10px;
    flex-shrink: 0;
    transition: background 100ms ease-in;
    cursor: pointer;
}

.user-profile-list li:not(:nth-of-type(n+3)):hover {
    background: none;
}

.user-profile-list li:hover {
    background-color: rgba(153, 205, 50, 0.275);
}

.user-profile-list li:nth-child(5)::before {
    content: '';
    display: inline-block;
    background: url(assets/icon-profile-panel.svg) no-repeat;
    background-size: cover;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.user-profile-list li:nth-child(6)::before {
    content: '';
    display: inline-block;
    background: url(assets/agendar.png) no-repeat;
    background-size: cover;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.user-profile-list li:nth-child(7)::before {
    content: '';
    display: inline-block;
    background: url(assets/sair.png) no-repeat;
    background-size: cover;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.user-profile-list hr {
    position: absolute;
    left: 50%;
    bottom: 52%;
    transform: translateX(-50%);
    opacity: 0.2;
    width: 90%;
}

.user-profile-list li:nth-child(5) {
    margin-top: 15px;
}

.user-profile-panel #arrow-profile-list {
    position: absolute;
}

.change-state-user-panel {
    height: 255px;
}

#btn-enter-user-account {
    width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(244, 244, 244);
    background-color: rgb(56, 56, 56);
}

#btn-register-user-account {
    text-align: center;
    width: 100%;
    color: rgb(20, 20, 20);
    font-weight: 400;
    padding: 0px;
    margin-bottom: 15px;
}

.user-profile-list ul li a:nth-child(1) {
    background-color: var(--color-primary);
}

a {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
}

/* Estilo dos Titulos da Página Principal */

.main-body-start {
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.h1-number-one {
    position: relative;
    color: var(--color-primary);
}

.h1-number-one::after {
    position: absolute;
    opacity: 0.8;
    bottom: 0;
    right: 30px;
    content: '';
    display: inline-block;
    background-color: var(--color-primary);
    width: 290px;
    height: 5px;
}

.descriptionMain-title h1 {
    font-family: Poppins;
    font-size: 88px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -3.52px;
}

.descriptionMain-title h1:nth-child(2) {
    color: #323940;
}

.subDescription-title li {
    color: #323940;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 41px;
}

.subDescription-title li:nth-child(1) {
    list-style: none;
    font-size: 33px;
    line-height: 1.1em;
    margin-top: 20px;
    width: 475px;
}

.subDescription-title li:nth-child(2) {
    margin-left: 1em;
    width: 240px;
    margin-top: 1.7em;
    line-height: 1.3em;
}

.main-button-page {
    margin-top: 10px;
}

/* Botao Ver Oferta pagina principal */

.main-button-page {
    border-radius: 33px;
    background: var(--color-primary);
    width: 210px;
    height: 45px;
    outline: none;
    border: none;
    font-size: 1.2em;
    font-weight: 500;
}

/* Footer da Página */

footer {
    padding: 0px 50px;
}

.nav-footer {
    margin-left: 15px;
}

.social-media {
    display: flex;
    align-items: center;
    width: max-content;
}

.scissors-footer img {
    width: 68px;
}

.list-social-media-footer {
    display: flex;
    list-style: none;
}

.location-footer {
    width: 190px;
}

/* Parte das Avaliações dos Clientes */

.customer-review-home-page {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.review-one {
    width: max-content;
    margin: 5px 0px;
    border-radius: 5px;
    padding: 15px 5px;
    background-color: #ecf7f586;
    display: flex;
    backdrop-filter: blur(10px);
}

.review-two,
.review-three {
    width: max-content;
    margin: 5px 0px;
    border-radius: 5px;
    padding: 15px 5px;
    display: flex;
    flex-direction: row-reverse;
    background-color: #ecf7f586;
    backdrop-filter: blur(10px);
}

.review-one p:nth-child(2) {
    width: 310px;
}

.review-two p,
.review-three p {
    text-align: right;
}

.review-two p:nth-child(2),
.review-three p:nth-child(2) {
    width: 330px;
}

.description-review {
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin: 0px 25px;
}

.title-description {
    color: #A3A3A3;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
}

.subTitle-description {
    color: #A3A3A3;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
}

.icons-review {
    margin-right: 15px;
}